@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Protest+Revolution&family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Protest+Revolution&family=Quicksand:wght@300..700&display=swap");

root {
  --blue: #08b6eb;
}

* {
  /* font-family: "Frank Ruhl Libre", serif; */
  /* font-family: "Quicksand", sans-serif; */
  /*   
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: none;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
}
*::selection {
  background: white;
  color: #d9bcbcfd;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1.4rem;
}
html::-webkit-scrollbar-track {
  background: #edebeba2;
}
html::-webkit-scrollbar-thumb {
  background: rgb(223, 220, 220);
}
body {
  /* background: #dfdbd6; */
  overflow-x: hidden;
  padding-left: 35rem;
}
section {
  min-height: 70vh;
  padding: 6rem;
  /* background-image: url(./office.jpg); */
  background-position: center;
  background-color: #eefbfb;
  border: 5rem solid #111115;
}

.btn {
  padding: 1rem 6rem;
  background: none;
  color: #000000;
  margin-top: 18rem;
  margin-left: 80rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}
.btn:hover {
  background: none;
  transition: 2s;
  color: #eefbfb;
  border: 2px solid #cc005f;
  transition: 1s;
}
.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #131414;
  color: #482673;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 110%;
  width: 35rem;
  background: #12232e;
  display: flex;
  align-content: start;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: -10rem;
}
header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 2rem solid #eefbfb;
}
header .user .name {
  font-size: 3.5rem;
  color: #eefbfb;

  font-weight: 600;
  font-style: normal;
}

header .user .post {
  font-size: 2rem;
  color: #eefbfb;
}
header .navbar {
  width: 100%;
}
header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}
header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem;
  background: #f2f3f7;
  color: #000000;
  font-size: 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  border: 1px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: #d8eb08;
  transition: all 0.5s;
}
header .navbar ul li a:hover {
  color: #f8f8f8;
  background-color: #afc6e46c;
  transition: 1s;
}
#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 99999;
  display: none;
}

.home {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  padding: 10rem 12rem;
  border: 5rem solid #111115;
  background-image: url(./stars.jpg);
  background-color: #12232e;
  background-position: center;
  background-size: cover;
}
.home h3 {
  font-size: 2.5rem;
  color: #bfb9b9a2;
}
.home h1 {
  font-size: 6rem;
  color: #cc005f;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 600;
  margin-top: 5rem;
  margin-left: 74rem;
}
.home h1 span {
  color: #181616;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 600;
  margin-left: 0rem;
  margin-top: 2rem;
}

.home p {
  font-size: 8rem;
  font-weight: 600;
  color: #ffffff;
  padding: 1rem 0rem;
  padding-left: 71rem;
}
section #about {
  background-image: url(./desknight.jpg);
  background-position: center;
  background-size: cover;
}
.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40rem 0;
  background-image: url(./atm.jpg);
  background-position: center;
  background-size: cover;
}
.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}
.about .row .info h3 {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: initial;
  color: #ffffff;
  padding: 2rem 3rem;
  font-weight: normal;
  margin-top: -40rem;
  margin-left: -5rem;
  background-color: #a9c1c85b;
}
.about .row .info h3 span {
  color: #eefbfb;
  padding: 0 0.5rem;
  font-weight: 700;
}
.about .row .counter {
  flex: 1 1 44rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .row .counter .box {
  width: 20rem;
  background: #12232e;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}
.about .row .counter .box span {
  font-size: 4rem;
  color: #eefbfb;
}
.about .row .counter .box h3 {
  font-size: 2rem;
  color: #fbfdfd;
}
.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 10rem;
  padding-left: 7rem;
}
.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.5rem solid #000000;
}
.education .box-container .box span {
  font-size: 1.3rem;
  background: #08b6eb;
  color: #090909;
  border-radius: 5rem;
  padding: 0rem 2.5rem;
}
.education .box-container .box h3 {
  font-size: 2.5rem;
  color: #282525;
  padding-top: 1.5rem;
}
.education .box-container .box p {
  font-size: 1.4rem;
  color: #000000;
  padding: 1rem 0;
}
.education .box-container .box i {
  position: absolute;
  top: 178rem;
  left: -2.5;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #000000;
  background: #ffffff;
  margin-left: -7rem;
}
.wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 600px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}
.card a {
  text-decoration: none;
}

.card > .row {
  color: #f0f0f3;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #0b84daee;
  color: rgb(232, 234, 238);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 500px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  color: #fefefe;
  padding-top: 5px;
  font-size: 2rem;
}

.description h4 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #111111;
}

input:checked + label {
  width: 48rem;
  border: 1px solid #000;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url(./weather\ app.png);
  background-position: center;
  padding-bottom: 38rem;
}
.card[for="c2"] {
  background-image: url(./quizapp2.jpeg);
  background-position: center;
  background-size: cover;
  padding-bottom: 38rem;
}
.card[for="c3"] {
  background-image: url(./stock-sys.jpeg);
  background-position: center;
  background-size: cover;
  padding-bottom: 38rem;
}
.card[for="c4"] {
  /* background-image: url("./desk.jpg"); */
  padding-bottom: 0rem;
}
section .projects {
  background-image: url(./project2.jpg);
  background-position: center;
  background-size: cover;
}

.skill-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 3rem 0;
}
.skill-bar {
  height: 3rem;
  background: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
.skill-per {
  height: 3rem;
  background: #6ac2e8ca;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #ebeae5;
  border-radius: 4px;
  font-size: 12px;
  top: -45px;
  right: 0;
  transform: translateX(50%);
}
.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #0a84dc;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* contact starts from here */
section .get-in-touch {
  background-image: url(./post.jpg);
  background-position: center;
  background-size: cover;
}
.align-center {
  text-align: center;
}
.row {
  margin: 100px 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.get-in-touch {
  max-width: auto;
  margin: 0 auto;
  position: relative;
  top: 50%;
  /* transform: translateY(-50%); */
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: #a9c1c854;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #12232e;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #5fa6e3;
  color: #12232e;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px;
}
.note .link {
  color: #888;
  text-decoration: none;
}
.note .link:hover {
  text-decoration: underline;
}
.media i {
  font-size: 6rem;
  display: inline;
  align-items: center;
  justify-content: center;
  margin-left: 14rem;
  color: #078be9;
}
footer p {
  font-size: 2rem;
  margin-top: 14rem;
  margin-left: 61rem;
}
/* endddddd */
@media (max-width: 1570px) {
  .home {
    padding: 9rem 1rem;
  }
  .btn {
    margin-top: 12rem;
    margin-left: 29rem;
  }
  .home h1 {
    margin-top: 4rem;
    margin-left: 7rem;
  }
  .home p {
    margin-top: 3rem;
    margin-left: -59rem;
  }
  footer p {
    margin-top: 17rem;
    margin-left: 0rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home {
    padding: -1rem 30rem;
  }
  .card {
    margin: 0rem -3rem;
  }
}
@media (max-width: 990px) {
  body {
    background: #dfdbd6;
    overflow-x: hidden;
    padding-left: 0rem;
    padding-top: 1rem;
  }

  header {
    left: -120%;
  }
  .home {
    padding: 0rem 30rem;
  }
  .home h1 {
    margin-left: -23rem;
    margin-top: 5rem;
  }
  .home p {
    font-size: 5rem;
    color: #fcfcfc;
    padding: 1rem 0rem;
    padding-left: 36rem;
  }
  .btn {
    margin-top: 7rem;
    margin-left: -6rem;
  }
  #menu {
    display: block;
  }
  header.toggle {
    left: 0%;
  }
  .card {
    margin: -4rem 0rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .home {
    padding: 0rem 15rem;
    width: 55rem;
    border: none;
    margin-left: 0rem;
  }
  section {
    padding: 0rem;
    border: none;
  }

  body {
    background: #dfdbd6;
    /* overflow-x: hidden; */
    padding-left: 1rem;
  }
  .home h1 {
    font-size: 3.5rem;
    margin-left: -14rem;
    margin-top: 15rem;
  }
  .home p {
    font-size: 4rem;
    color: #ffffff;
    padding: 0rem 12rem;
    padding-left: 12rem;
    margin-left: -24rem;
  }
  .btn {
    margin-top: 5rem;
    margin-left: -6rem;
  }
  .card {
    margin: 18rem 0rem;
    width: 4rem;
    height: -3rem;
  }
  input:checked + label {
    width: 22rem;
    border: 1px solid #000;
  }
  .media i {
    display: contents;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  body {
    background: #dfdbd6;
    overflow-x: hidden;
    padding-left: 1rem;
  }
  .home {
    padding: 10rem 17rem;
  }

  header {
    width: 100vw;
  }
  .heading {
    margin: 0 3rem;
  }
  .about .row .counter .box {
    width: 100%;
  }
  .card {
    margin: 0rem -1rem;
    width: 4rem;
    height: 37rem;
    /* visibility: hidden;
  } */
  }
  input:checked + label {
    width: 20rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: 7rem 0rem;
    width: 4rem;
    height: 37rem;
  }
}
